* {
    font-family: 'Rubik';
}

.orange-btn {
    background-color: #F58029;
}


.bg-image {
    position: relative;
    background: url('https://i.ibb.co/Gszz88T/hero.jpg');
    min-height: 70vh;
    background-size: cover;
    background-position: center;
}