* {
    font-family: 'Rubik';
}

.orange-btn {
    background-color: #F58029;
}


.bg-image {
    position: relative;
    background: url('https://i.ibb.co/Gszz88T/hero.jpg');
    min-height: 70vh;
    background-size: cover;
    background-position: center;
}

.about-card {
    position: relative;

    img {
        width: 100%;
        border-radius: 20px;
    }
}

.about-card-title {
    position: absolute;
    bottom: 80px;
    left: 18px;
    color: rgb(235, 235, 235);
}

.about-card-text {
    position: absolute;
    bottom: 0px;
    left: 18px;
    color: rgb(214, 214, 214);
}